.image_banner{
  display: flex;
}

.product-section {
  flex: 1;
  display: flex;
}

.product-image {
  flex: 1;
  
}
.product-image img{
  width: 400px;
  height: 400px;
}

.product-carousel {
  flex: 1;
  position: relative;
  width: 100%;
  max-width: 300px; 
  margin: 0 auto;
  
}
.carousel-images {
  overflow: hidden;
}

.carousel-image {
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 10px; 
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  left: 0%; 
  transform: translateY(-100%) rotate(-90deg);
}

.next-btn {
  right: 0%; 
  transform: translateY(-100%) rotate(90deg);
}

.product-details {
  flex: 1;
  padding: 20px;
}

.product-details h2 {
  font-size: 24px;
}

.product-details p {
  font-size: 20px;
}

.item-number {
  font-size: 20px;
}

.reviews {
  margin-top: 10px;
}

.rating {
  color: yellow;
  /* Estilos para el sistema de puntuación con estrellas */
}

.product-description {
  font-size: 24px;
  margin-top: 10px;
}

.product-links a {
  font-size: 20px;
  margin-right: 10px;
}

.add-to-cart {
  margin-top: 20px;
}

.add-to-cart select {
  background-color: yellow;/* Estilos para el selector de cantidad */
}

.add-to-cart .price {
  margin-top: 10px;
}

.whatsapp-contact {
  background-color: rgb(15, 235, 81);
  /* Estilos para el contacto de WhatsApp */
}

