
.image-banner{
  display: flex;
  background-color: white;
  
}

.product-section {
   flex: 1;
  display: flex;
}

.product-image {
  flex: 1;
  
}
.product-image img{
  margin-top: 8%;
  width: 400px;
  height: 400px;
}

.product-carousel {
 position: relative;
 width: 150px;
 margin: 0 auto;

 top: 20px;
 left:50px
  
}
.carousel-images {
  overflow: hidden;
  margin-top: 10px;
 
}

.carousel-image {
   width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 10px; 
}

.prev-btn,
.next-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.prev-btn {
  top: -2%;
  margin-bottom: 20px;
  left: 25%;
  z-index: 10;
  transform: translate(-50%, -50%) rotate(90deg); 
}

.next-btn {
  bottom: 25%;
  left: 25%;
  transform: translate(-50%, 50%) rotate(90deg);
}

.product-details {
  flex: 1;
  padding: 20px;
}

.product-details h2 {
  font-size: 24px;
}

.product-details p {
  font-size: 20px;
  font-weight:550;
  color: #0e0d0d;
}

.reviews {
  margin-top: 10px;
}

.rating {
  font-size: 24px; 
  
  padding: 10px;
 
}

.star {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-color: transparent; 
  position: relative;
}

.star.filled::before {
  content: "\2605"; 
  color: yellow; 
}

.star.half-filled::before {
  content: "\2605"; 
  color: yellow; 
  position: inherit;
  overflow: hidden;
   width: 50%;
   transform: translateX(-50%); /*Ancho de la mitad superior de la estrella */
}


.product-description {
  font-size: 24px;
  margin-top: 10px;
}

.product-links a {
  font-size: 20px;
  margin-right: 10px;
}

.add-to-cart {
  margin-top: 20px;
}

.add-to-cart select {
  background-color: yellow;/* Estilos para el selector de cantidad */
}

.add-to-cart .price {
  margin-top: 10px;
}

.whatsapp-contact {
  background-color: rgb(15, 235, 81);
  /* Estilos para el contacto de WhatsApp */
}

